/* HomeOfGamers.module.css */

.container {
    margin: 0 auto;
  }
  
  .imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
  .textContainer {
    flex: 1;
    padding-left: 20px;
  }
  
  .title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .text {
    font-family: 'Heebo', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
  }
  