.stepsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.stepCard {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 5px;
  border-radius: 15px;
  padding: 15px;
  width: 320px;
  background-color: var(--background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.35s ease;
  margin: 10px 5px;
  text-decoration: none;
}

.stepCard:hover {
  box-shadow: 0 0 20px var(--box-shadow-containers);
}

.stepCard:hover .stepText {
  text-decoration: underline;
  text-decoration-color: #007bff;
  text-decoration-thickness: 1.5px;
}

.stepImage {
  grid-column: 1 / 2;
  grid-row: 1 / 3; /* Adjust row span to cover both title and text */
  justify-self: center;
  align-self: center;
  max-width: 100px;
  max-height: 100px;
}

.stepTitle {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
  align-self: center;
  justify-self: start;
}

.stepText {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 0.9em;
  color: var(--maintext);
  line-height: 1.5;
  margin: 0;
  padding-top: 10px;
}

