@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');


.Header-Container {
  width: 100vw;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/static/img/TeGriA-froum-back-big.jpeg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
  padding-bottom: 3svh;
}



.text1 {
  color: #fdfdfd;
  font-weight: bold;
  font-size: 5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

.text2 {

  font-style: italic;
  color: #025ec0;
  font-size: 1.7em;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

.Value-Container {
  
  background-color: var( --ifm-color-container-background);
  border: 1px solid var(--ifm-color-container-border);
  border-radius: 10px;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.Category-Link {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
}

.Title-Link {
  color: black;
  text-decoration: none; 
}

.Title-Link:hover {
  color: #007bff; 
}
.Last-Values-Container {
  background-color: var( --background);
  border: 2px solid var(--ifm-color-container-border); 
  border-radius: 20px; 
  padding: 20px; 
  margin: 10px auto; 
  max-width: 800px; 
}

/* Styles for the Last-Values-Text element (h3) */
.Last-Values-Text {
    color: #007bff; 
    margin-right: 80%;
    
    padding-bottom:10px ;
    font-size: 20px; 
    text-align: center; 
    margin-bottom: 10px;
  }
  

.Values-Container {
  margin: auto;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
}
.Link-Container{

  width: 100%;
  align-items: center;
}
.Icons{
  float: right;
  line-height: 1px;
  margin-right: 10px;
  margin-top: 5px; /* I apologise for my doings i have to go and i couldnt see it not in the middle. - Fravy / Ariel 16/8/2023 */
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.Recomended-Container-Title{
  color: #007bff;
  
}
.Recomended-Container-Recomendeds{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.Recomended-Container-Title-Container{
  display: flex;
  margin-right:60% ;
  justify-content: right; 
  align-items: center; 
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.Recomendeds-Container {
  display: grid; 
  grid-template-columns: auto 1fr; 
  grid-template-rows: auto 1fr; 
  gap: 5px; 
  margin: 20px; 
  background-color: var(--background);
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.35s ease;
}
.Recomendeds-Container:hover {
  box-shadow: 0 0 20px var(--box-shadow-containers);

}
.svg-Icon {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: start;
  justify-self: end;
  max-width: 100px;
  max-height: 100px;
}

.Recomendeds-Title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  margin: 0;
  padding-right: 10px;
  color: #007bff;
  font-size: 1.2em;
  font-weight: bold;
}

.Recomendeds-MainText {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding-top: 10px;
  color: var(--maintext);
  font-size: 0.9em; 
  line-height: 1.5;
}

.Last-Values-Text{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}