@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');


.start-button {
    background-color: var(--ifm-color-primary);
    color: white;
    padding: 15px 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    border-radius: 5px;
    text-align: center;
}
  
.start-button:hover {
  background-color: var( --ifm-color-primary-blue);
}
.Header-Container {
  width: 50%; 
  display: grid;
  place-items: center;
  background-color: var( --background);
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
}
.text1 {
  text-align: center;

}
.text2 {
  text-align: center;
  
}
.Value-Container {
  
  background-color: var( --ifm-color-container-background);
  border: 1px solid var(--ifm-color-container-border);
  border-radius: 10px;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.Category-Link {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
}

.Title-Link {
  color: black;
  text-decoration: none; 
}

.Title-Link:hover {
  color: #007bff; 
}
.Last-Values-Container {
  background-color: var( --background);
  border: 1px solid var(--ifm-color-container-border); 
  border-radius: 20px; 
  padding: 20px; 
  margin: 10px auto; 
  max-width: 800px; 
}

/* Styles for the Last-Values-Text element (h3) */
.Last-Values-Text {
    color: #007bff; 
    margin-right: 80%;
    
    padding-bottom:10px ;
    font-size: 20px; 
    text-align: center; 
    margin-bottom: 10px;
  }
  
/* Styles for the Values-Container element */
.Values-Container {
    margin: auto;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
}
.Link-Container{
  width: 100%;
}
.Icons{
  float: right;
  line-height: 1px;
  margin-right: 10px;
}

.Recomended-Container-Title{
  color: #007bff;
}
.Recomended-Container-Recomendeds{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Recomended-Container-Title-Container{
  display: flex;
  margin-right:60% ;
  justify-content: right; 
  align-items: center; 
}

.Recomendeds-Container {
  display: grid; 
  grid-template-columns: auto 1fr; 
  grid-template-rows: auto 1fr; 
  gap: 5px; 
  margin: 20px; 
  background-color: var(--background);
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.svg-Icon {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: start;
  justify-self: end;
  max-width: 100px;
  max-height: 100px;
}

.Recomendeds-Title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  margin: 0;
  padding-right: 10px;
  color: #007bff;
  font-size: 1.2em;
  font-weight: bold;
}

.Recomendeds-MainText {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding-top: 10px;
  color: #3697ff;
  font-size: 0.9em; 
  line-height: 1.5;
}

